## Timedelta : 간격, 시간차이 
- https://pandas.pydata.org/docs/reference/api/pandas.Timedelta.html
- https://pandas.pydata.org/docs/user_guide/cookbook.html#timedeltas
- 시각 - 시각 = 1월 2일 - 1월 2일 =  2일 = 시간차이
- 시간차 + 시간차 = 1일 + 1일 = 2일 = 시간차이
- 시간차-시간차 = 3일 - 1일 = 2일 = 시간차이

In [1]:
import pandas as pd

In [3]:
t1=pd.Timestamp('2024-01-01')
t2=pd.Timestamp('2024-01-30')

In [7]:
t2-t1
#Timddelta 가나옴

Timedelta('29 days 00:00:00')

## to_timedelta()
- https://pandas.pydata.org/docs/reference/api/pandas.to_timedelta.html
- https://pandas.pydata.org/docs/user_guide/timedeltas.html#to-timedelta

#### `unit=` : str, optional
- 숫자 인자 기본 단위. 기본값 'ns'
- 'W'
- 'D' / 'days' / 'day'
- 'hours' / 'hour' / 'hr' / 'h'
- 'm' / 'minute' / 'min' / 'minutes' / 'T'
- 'S' / 'seconds' / 'sec' / 'second'
- 'ms' / 'milliseconds' / 'millisecond' / 'milli' / 'millis' / 'L'
- 'us' / 'microseconds' / 'microsecond' / 'micro' / 'micros' / 'U'
- 'ns' / 'nanoseconds' / 'nano' / 'nanos' / 'nanosecond' / 'N'

In [10]:
texts = [
    "2d",
    "2days",
    "2 days"    
]

In [14]:
for t in texts:
    print(pd.to_timedelta(t))

2 days 00:00:00
2 days 00:00:00
2 days 00:00:00

In [16]:
texts = [
    "5W 4D 3H 2m 1S",
    "2days 4hours",
    ["1D", "2D", "3D"]
]

In [20]:
for t in texts:
    print(pd.to_timedelta(t) )
# 리스트는 TimedeltaIndex로 나와

39 days 03:02:01
2 days 04:00:00
TimedeltaIndex(['1 days', '2 days', '3 days'], dtype='timedelta64[ns]', freq=None)

### unit에 왜 Month, Year는 없을까?

- 1년은 며칠?
- 1달은 며칠?

## timedelta_range()
- https://pandas.pydata.org/docs/reference/api/pandas.timedelta_range.html

In [29]:
# 1일 경과 2일 경과... 같은 연산을 하기위한
pd.timedelta_range(start='1d', periods=10)

TimedeltaIndex([ '1 days',  '2 days',  '3 days',  '4 days',  '5 days',
                 '6 days',  '7 days',  '8 days',  '9 days', '10 days'],
               dtype='timedelta64[ns]', freq='D')

In [37]:
# 시도 : 1시간 경과 2시간 경과... 같은 연산을 하기위한
pd.timedelta_range(start='1d' ,periods=10 , freq='1h')

TimedeltaIndex(['1 days 00:00:00', '1 days 01:00:00', '1 days 02:00:00',
                '1 days 03:00:00', '1 days 04:00:00', '1 days 05:00:00',
                '1 days 06:00:00', '1 days 07:00:00', '1 days 08:00:00',
                '1 days 09:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [ ]:
# 1시간 경과 2시간 경과... 같은 연산을 하기위한

In [39]:
# 10시간 경과 20시간 경과... 같은 연산을 하기위한
pd.timedelta_range(start='1d' ,periods=10 , freq='10h')

TimedeltaIndex(['1 days 00:00:00', '1 days 10:00:00', '1 days 20:00:00',
                '2 days 06:00:00', '2 days 16:00:00', '3 days 02:00:00',
                '3 days 12:00:00', '3 days 22:00:00', '4 days 08:00:00',
                '4 days 18:00:00'],
               dtype='timedelta64[ns]', freq='10H')

In [41]:
# freq은 모르겠고, 1일~10일을 5영역으로 나누고 싶다면
pd.timedelta_range(start='1d' , end='10d' ,periods=5)

TimedeltaIndex([ '1 days 00:00:00',  '3 days 06:00:00',  '5 days 12:00:00',
                 '7 days 18:00:00', '10 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

## `closed=` 
- 끝점의 포함 여부
-  'left', 'right', None(both)
    - None: 기본값. 끝점 모두 포함.
    - 'left': 시작점을 포함.
    - 'right': 종료점을 포함.

In [45]:
# freq은 모르겠고, 1일~10일을 5영역으로 나누고 싶다면 + 양끝점 포함
pd.timedelta_range(start='1d' , end='10d' ,periods=5 ,closed=None)

TimedeltaIndex([ '1 days 00:00:00',  '3 days 06:00:00',  '5 days 12:00:00',
                 '7 days 18:00:00', '10 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [47]:
# freq은 모르겠고, 1일~10일을 5영역으로 나누고 싶다면 + 종료점 포함
pd.timedelta_range(start='1d' , end='10d' ,periods=5 ,closed='right')

TimedeltaIndex(['3 days 06:00:00', '5 days 12:00:00', '7 days 18:00:00',
                '10 days 00:00:00'],
               dtype='timedelta64[ns]', freq=None)

In [49]:
# freq은 모르겠고, 1일~10일을 5영역으로 나누고 싶다면 + 시작점 포함
pd.timedelta_range(start='1d' , end='10d' ,periods=5 ,closed='left')

TimedeltaIndex(['1 days 00:00:00', '3 days 06:00:00', '5 days 12:00:00',
                '7 days 18:00:00'],
               dtype='timedelta64[ns]', freq=None)