## 날짜/시간 속성 접근자 .dt
- https://pandas.pydata.org/pandas-docs/version/1.5/reference/api/pandas.Series.dt.html
- **시리즈**에서 날짜와 시간과 관련된 속성에 접근할 때 사용되는 기능
- `.str`처럼 `.dt.메소드`, `.dt.속성` 으로 사용
    - 속성(properties) : https://pandas.pydata.org/docs/reference/series.html#datetime-properties
    - 메소드(methods) : https://pandas.pydata.org/docs/reference/series.html#datetime-methods

In [41]:
import pandas as pd

In [53]:
dec=pd.date_range('2024-01-01', '2024-01-30', freq='W-MON')
dec

DatetimeIndex(['2024-01-01', '2024-01-08', '2024-01-15', '2024-01-22',
               '2024-01-29'],
              dtype='datetime64[ns]', freq='W-MON')

In [55]:
# Series 화
pd.Series(dec)

0   2024-01-01
1   2024-01-08
2   2024-01-15
3   2024-01-22
4   2024-01-29
dtype: datetime64[ns]

In [71]:
# DataFrame화
dfweek=pd.DataFrame(dec, columns=['WEEK'] )
dfweek

        WEEK
0 2024-01-01
1 2024-01-08
2 2024-01-15
3 2024-01-22
4 2024-01-29

In [61]:
# 체인형으로 프로그래밍 하고 싶다면 .to_frame()
dec.to_frame(name='WEEK')

                 WEEK
2024-01-01 2024-01-01
2024-01-08 2024-01-08
2024-01-15 2024-01-15
2024-01-22 2024-01-22
2024-01-29 2024-01-29

In [63]:
pd.Series(dec).to_frame(name='WEEK')

        WEEK
0 2024-01-01
1 2024-01-08
2 2024-01-15
3 2024-01-22
4 2024-01-29

In [65]:
# Series화 > .toFrame을 통한 DataFrame
pd.Series(dec).to_frame(name='WEEK')

        WEEK
0 2024-01-01
1 2024-01-08
2 2024-01-15
3 2024-01-22
4 2024-01-29

- 시리즈화를 직접하진 않고, DataFrame에서 조회하면 시리즈일 것
- 때문에 `pd.Series(dec).to_frame({name})` 형태를 기억하기

## `.dt`로 속성 접근

- 속성(properties) : https://pandas.pydata.org/docs/reference/series.html#datetime-properties
- 메소드(methods) : https://pandas.pydata.org/docs/reference/series.html#datetime-methods

In [75]:
# .dt를 통해 속성(Properties) 접근 객체 생성
dfweek['WEEK'].dt

In [77]:
# Python Datetime하듯 .day로 바로 접근하면 에러
dfweek['WEEK'].day

AttributeError: 'Series' object has no attribute 'day'

In [85]:
# 중간에 .dt 넣으면
dfweek['WEEK'].dt.day

0     1
1     8
2    15
3    22
4    29
Name: WEEK, dtype: int32

In [87]:
dfweek['WEEK'].dt.year

0    2024
1    2024
2    2024
3    2024
4    2024
Name: WEEK, dtype: int32

In [89]:
dfweek['WEEK'].dt.month

0    1
1    1
2    1
3    1
4    1
Name: WEEK, dtype: int32

In [91]:
dfweek['WEEK'].dt.day_name()

0    Monday
1    Monday
2    Monday
3    Monday
4    Monday
Name: WEEK, dtype: object

In [93]:
dfweek['WEEK'].dt.to_period()

0    2023-12-26/2024-01-01
1    2024-01-02/2024-01-08
2    2024-01-09/2024-01-15
3    2024-01-16/2024-01-22
4    2024-01-23/2024-01-29
Name: WEEK, dtype: period[W-MON]

In [99]:
dfweek['WEEK'].dt.strftime('%B ,%d, %Y, %r')

0    January ,01, 2024, 12:00:00 AM
1    January ,08, 2024, 12:00:00 AM
2    January ,15, 2024, 12:00:00 AM
3    January ,22, 2024, 12:00:00 AM
4    January ,29, 2024, 12:00:00 AM
Name: WEEK, dtype: object

In [103]:
dfweek['WEEK'].dt.strftime('%Y년, %m 월')

0    2024년, 01 월
1    2024년, 01 월
2    2024년, 01 월
3    2024년, 01 월
4    2024년, 01 월
Name: WEEK, dtype: object