## Timestamp의 메소드(Methods)와 속성(Attributes)
- https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html
    - 하단의 Attributes와 Methods

### 속성(Attributes)와 속성(Properties)
- 일반적으로 동일의미로 사용. 그러나 일부 상황에서는 다르게 사용할 때가 있음
- Pandas는 일반적인 상황처럼 동일의미로 쓰고 있음

#### case 1. 속성(Properties) = 속성(Attributes) + 메소드(Methods)

#### case 1+a. 객체는 Properties, 값은 Attributes
- .속성이 Object면 Properties
- .속성이 값, 수치라면 Attributes
- .속성이 함수라면 Methods

#### case 2. Attributes != Properties
- Attributes : 객체의 특정한 데이터나 상태를 의미
    - DataFrame에서 values, dtype, ndim 같이 DataFrame의 값이나 데이터 타입, 차원 등을 설명
- Properties : 객체의 특정한 특성이나 특징을 표현
    - DataFrame에서 shape, columns, index 같이 DataFrame의 구조나 크기를 설명

In [1]:
import pandas as pd

In [2]:
start = '2024-01-01'
end = '2024-12-31'

In [20]:
dt_index=pd.date_range(start, end , freq='M')
dt_index

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31'],
              dtype='datetime64[ns]', freq='M')

In [12]:
data = list(range(200, 1400, 100))

In [22]:
df=pd.DataFrame(data=data, index=dt_index, columns=['DATA'])
df

            DATA
2024-01-31   200
2024-02-29   300
2024-03-31   400
2024-04-30   500
2024-05-31   600
2024-06-30   700
2024-07-31   800
2024-08-31   900
2024-09-30  1000
2024-10-31  1100
2024-11-30  1200
2024-12-31  1300

## DatetimeIndex = [Timestamp,...] 의 속성 접근

In [16]:
df.index

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-31', '2024-04-30',
               '2024-05-31', '2024-06-30', '2024-07-31', '2024-08-31',
               '2024-09-30', '2024-10-31', '2024-11-30', '2024-12-31'],
              dtype='datetime64[ns]', freq='M')

In [28]:
df.index[0]

Timestamp('2024-01-31 00:00:00')

In [30]:
df.index[0].month_name()

'January'

In [35]:
# 2024.2월 말일 -> 29일 
df.index[1].days_in_month

29

In [39]:
# 월 0, ...목 3
df.index[1].day_of_week

3

In [43]:
df.index[1].weekday()

3

In [45]:
df.index[11].week
# 12월 31일

1

In [ ]:
# 2024.01.31 (수)

In [ ]:
# 2024.12.31(화)는 2024년 마지막 주이면서 2025년의 첫번째 주

## DatetimeIndex 활용 예제 - 월(Month) 열 추가
- https://pandas.pydata.org/docs/reference/indexing.html#datetimeindex
- https://pandas.pydata.org/docs/reference/api/pandas.DatetimeIndex.html

In [49]:
df.index.month_name()

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [54]:
df['MONTH']=df.index.month_name()
df

            DATA      MONTH
2024-01-31   200    January
2024-02-29   300   February
2024-03-31   400      March
2024-04-30   500      April
2024-05-31   600        May
2024-06-30   700       June
2024-07-31   800       July
2024-08-31   900     August
2024-09-30  1000  September
2024-10-31  1100    October
2024-11-30  1200   November
2024-12-31  1300   December

## DatetimeIndex 활용 예제 - 요일(day) 열 추가

In [58]:
df.index.day_name()

Index(['Wednesday', 'Thursday', 'Sunday', 'Tuesday', 'Friday', 'Sunday',
       'Wednesday', 'Saturday', 'Monday', 'Thursday', 'Saturday', 'Tuesday'],
      dtype='object')

In [74]:
df['DAYS']=df.index.day_name()
df

            DATA      MONTH       DAYS
2024-01-31   200    January  Wednesday
2024-02-29   300   February   Thursday
2024-03-31   400      March     Sunday
2024-04-30   500      April    Tuesday
2024-05-31   600        May     Friday
2024-06-30   700       June     Sunday
2024-07-31   800       July  Wednesday
2024-08-31   900     August   Saturday
2024-09-30  1000  September     Monday
2024-10-31  1100    October   Thursday
2024-11-30  1200   November   Saturday
2024-12-31  1300   December    Tuesday

## DatetimeIndex 활용 예제 - 요일(day) 열 추가 - 한국(korea)버전
| 언어           | 로케일 코드     |
| -------------- | --------------- |
| 한글 (한국)    | ko_KR.utf8    |
| 영어 (미국)    | en_US.utf8    |
| 영어 (영국)    | en_GB.utf8    |
| 스페인어 (스페인) | es_ES.utf8  |
| 프랑스어 (프랑스) | fr_FR.utf8  |
| 독일어 (독일)   | de_DE.utf8    |
| 이탈리아어 (이탈리아) | it_IT.utf8 |
| 일본어 (일본)   | ja_JP.utf8    |
| 중국어 (중국)   | zh_CN.utf8    |
| 러시아어 (러시아) | ru_RU.utf8   |

In [78]:
df.index.day_name('ko_KR.utf8')

Index(['수요일', '목요일', '일요일', '화요일', '금요일', '일요일', '수요일', '토요일', '월요일', '목요일',
       '토요일', '화요일'],
      dtype='object')

In [84]:
df['요일']=df.index.day_name('ko_KR.utf8')

In [86]:
df

            DATA      MONTH       DAYS   요일
2024-01-31   200    January  Wednesday  수요일
2024-02-29   300   February   Thursday  목요일
2024-03-31   400      March     Sunday  일요일
2024-04-30   500      April    Tuesday  화요일
2024-05-31   600        May     Friday  금요일
2024-06-30   700       June     Sunday  일요일
2024-07-31   800       July  Wednesday  수요일
2024-08-31   900     August   Saturday  토요일
2024-09-30  1000  September     Monday  월요일
2024-10-31  1100    October   Thursday  목요일
2024-11-30  1200   November   Saturday  토요일
2024-12-31  1300   December    Tuesday  화요일