## DataFrame
- Series는 1차원 구조
- DataFrame은 2차원 구조
  - axis = 0 : index 방향
  - axis = 1 : columns 방향
  - 2개 이상의 Series로 구성
- https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

## DataFrame 생성

In [7]:
import pandas as pd

In [10]:
member = {
    'Attack' : [111, 222, 333],
    'Defence' : [444, 555, 666],
    'Luck' : [777, 888, 999]
}
df=pd.DataFrame(member)
df

   Attack  Defence  Luck
0     111      444   777
1     222      555   888
2     333      666   999

## .sum() 시리즈나옴

In [11]:
df.sum()

Attack      666
Defence    1665
Luck       2664
dtype: int64

.sum()은 각 열 => 각 Series를 .sum() 한 결과로 또 다른 Series를 만든다.
- Series는 .sum()하면 단일 값
- DataFrame을 .sum()하면 Series

In [13]:
pd.Series([111,222,333]).sum()

666

type(member_df.sum())

In [16]:
# DataFrame -> Series -> 단일 값도 되지 않을까? 시리즈들의 sum
df.sum().sum()

4995

## .sum()과 axis
- DataFrame은 2차원 구조
  - axis = 0 : index 방향
  - axis = 1 : columns 방향

In [17]:
# axis = 0, axis = 'index'
df.sum(axis=0)

Attack      666
Defence    1665
Luck       2664
dtype: int64

In [21]:
df.sum(axis='index')

Attack      666
Defence    1665
Luck       2664
dtype: int64

In [19]:
# axis = 1, axis = 'columns'
df.sum(axis=1)

0    1332
1    1665
2    1998
dtype: int64

In [23]:
df.sum(axis='columns')

0    1332
1    1665
2    1998
dtype: int64

In [24]:
# 어떻게 합쳐진 거지? 확인 해보자
df

   Attack  Defence  Luck
0     111      444   777
1     222      555   888
2     333      666   999

## 집계함수 + axis
- 공간 절약되서 axis='index', axis=0를 쓰며
- sum()말고도 max(), min(), mean() 등의 집계함수와 axis를 사용해보면

In [25]:
# max, axis = 0
df.max(axis=0)

Attack     333
Defence    666
Luck       999
dtype: int64

In [26]:
# min, axis = 'columns'
df.min(axis='columns')

0    111
1    222
2    333
dtype: int64

In [27]:
# mean, axis = 'index'
df.mean(axis='index')

Attack     222.0
Defence    555.0
Luck       888.0
dtype: float64

In [28]:
# median, axis = 1
df.median(axis=1)

0    444.0
1    555.0
2    666.0
dtype: float64

In [29]:
# prod, axis = 1, prod는 곱셈 연산
df.prod(axis=1)

0     38293668
1    109410480
2    221556222
dtype: int64

**[미리보기] 집계함수 목록**
메소드 | 설명
- | -
min | 최소값
max | 최대값
sum | 합계
mean | 평균
median | 중앙값
count | 비결측치의 개수
value_counts | 각 값의 빈도
describe | 요약 통계량
mode | 최빈값
std | 표준편차
var | 분산
prod | 모든 요소의 곱
quantile | 분위수
cumsum | 누적 합
cumprod | 누적 곱
cummax | 누적 최대값
cummin | 누적 최소값