<a href="https://colab.research.google.com/github/qwasd34/DEV_DATA/blob/main/3%EC%9D%BC%EC%B0%A8_SQL_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ï£ºÌîºÌÑ∞ SQL ÏóîÏßÑ ÏÑ§Ï†ï

In [2]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.30)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 27.8 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=4c1d74fc764208f85faa704d376fad3eb4adda4e41f1696aff024b0c57c1c650
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2
Collecting SQLAlchemy==1.4.49
  Downloading SQLAlchemy-1.4.49-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.6/1.6 MB 18.7 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed SQLAlchemy-1.4.49

In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
# IDÏôÄ PWÎ•º ÏûêÏã†Ïùò ÌôòÍ≤ΩÏóê ÎßûÍ≤å ÏàòÏ†ï
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

ÏõîÎ≥Ñ ÏÑ∏ÏÖòÏàòÎ•º Í≥ÑÏÇ∞ÌïòÎäî SQL

In [14]:
%%sql

SELECT
    LEFT(ts, 7) AS mon,
    COUNT(1) AS session_count
FROM raw_data.session_timestamp
GROUP BY 1
ORDER BY 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 6261),
 ('2019-06', 10520),
 ('2019-07', 14840),
 ('2019-08', 17151),
 ('2019-09', 15790),
 ('2019-10', 18899),
 ('2019-11', 18059)]

Í∞ÄÏû• ÎßéÏù¥ ÏÇ¨Ïö©Îêú Ï±ÑÎÑêÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?

ü™Ñ ÏÑ∏ÏÖòcount Í∏∞Ï§Ä

In [ ]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 2 DESC;              -- ORDER BY session_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Youtube', 17091, 889),
 ('Google', 16982, 893),
 ('Naver', 16921, 882),
 ('Organic', 16904, 895),
 ('Instagram', 16831, 895),
 ('Facebook', 16791, 889)]

ü™Ñ usercount Í∏∞Ï§Ä

In [ ]:
%%sql

SELECT
    channel,
    COUNT(1) AS session_count,
    COUNT(DISTINCT userId) AS user_count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY channel
ORDER BY 3 DESC;              -- ORDER BY user_count DESC

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[('Instagram', 16831, 895),
 ('Organic', 16904, 895),
 ('Google', 16982, 893),
 ('Facebook', 16791, 889),
 ('Youtube', 17091, 889),
 ('Naver', 16921, 882)]

Í∞ÄÏû• ÎßéÏùÄ ÏÑ∏ÏÖòÏùÑ ÎßåÎì§Ïñ¥ÎÇ∏ ÏÇ¨Ïö©Ïûê IDÎäî Î¨¥ÏóáÏù∏Í∞Ä?

In [ ]:
%%sql

SELECT
    userId,
    COUNT(1) AS count
FROM raw_data.user_session_channel
GROUP BY 1                         -- GROUP BY userId
ORDER BY 2 DESC              -- ORDER BY count DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1615, 528)]

ÏõîÎ≥Ñ Ïú†ÎãàÌÅ¨Ìïú ÏÇ¨Ïö©Ïûê Ïàò

ü™Ñ INNER JOIN ÏúºÎ°ú ÎëêÌÖåÏù¥Î∏î Ìï©Ï≥ê

In [ ]:
%%sql

SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

ü™ÑDISTINCT ÏóÜÏù¥ COUNT -> session count

In [ ]:
%%sql

SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(B.userid) AS cnt,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 18059, 721),
 ('2019-10', 18899, 763),
 ('2019-09', 15790, 639),
 ('2019-08', 17151, 662),
 ('2019-07', 14840, 623),
 ('2019-06', 10520, 459),
 ('2019-05', 6261, 281)]

ÏõîÎ≥Ñ Ï±ÑÎÑêÎ≥Ñ Ïú†ÎãàÌÅ¨Ìïú ÏÇ¨Ïö©Ïûê Ïàò

In [ ]:
%%sql

SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  channel,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1, 2
ORDER BY 1 DESC, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-11', 'Facebook', 688),
 ('2019-11', 'Google', 688),
 ('2019-11', 'Instagram', 669),
 ('2019-11', 'Naver', 667),
 ('2019-11', 'Organic', 677),
 ('2019-11', 'Youtube', 677),
 ('2019-10', 'Facebook', 698),
 ('2019-10', 'Google', 699),
 ('2019-10', 'Instagram', 707),
 ('2019-10', 'Naver', 713),
 ('2019-10', 'Organic', 709),
 ('2019-10', 'Youtube', 705),
 ('2019-09', 'Facebook', 597),
 ('2019-09', 'Google', 599),
 ('2019-09', 'Instagram', 588),
 ('2019-09', 'Naver', 592),
 ('2019-09', 'Organic', 592),
 ('2019-09', 'Youtube', 588),
 ('2019-08', 'Facebook', 611),
 ('2019-08', 'Google', 610),
 ('2019-08', 'Instagram', 621),
 ('2019-08', 'Naver', 626),
 ('2019-08', 'Organic', 608),
 ('2019-08', 'Youtube', 614),
 ('2019-07', 'Facebook', 558),
 ('2019-07', 'Google', 556),
 ('2019-07', 'Instagram', 567),
 ('2019-07', 'Naver', 553),
 ('2019-07', 'Organic', 557),
 ('2019-07', 'Youtube', 564),
 ('2019-06', 'Facebook', 414),
 ('2019-06', 'Google', 412),
 ('2019-06', 'Instagram', 410),
 ('2019-06', 'Naver', 398),
 ('2019-06', 'Organic', 416),
 ('2019-06', 'Youtube', 400),
 ('2019-05', 'Facebook', 247),
 ('2019-05', 'Google', 253),
 ('2019-05', 'Instagram', 234),
 ('2019-05', 'Naver', 237),
 ('2019-05', 'Organic', 238),
 ('2019-05', 'Youtube', 244)]

### CTAS & CTE

CTAS: SELECTÎ•º Í∞ÄÏßÄÍ≥† ÌÖåÏù¥Î∏î ÏÉùÏÑ±

In [ ]:
%%sql

DROP TABLE IF EXISTS adhoc.heeryeong_session_summary;
CREATE TABLE adhoc.heeryeong_session_summary AS
SELECT B.*, A.ts FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

SELECT
  TO_CHAR(ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT userid) AS mau
FROM adhoc.heeryeong_session_summary
GROUP BY 1
ORDER BY 1 DESC;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-11', 721),
 ('2019-10', 763),
 ('2019-09', 639),
 ('2019-08', 662),
 ('2019-07', 623),
 ('2019-06', 459),
 ('2019-05', 281)]

Ï§ëÎ≥µÎêú Î†àÏΩîÎìúÎì§ Ï≤¥ÌÅ¨ÌïòÍ∏∞

In [ ]:
%%sql

SELECT COUNT(1) FROM adhoc.heeryeong_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT COUNT(1)
FROM (
    SELECT DISTINCT userId, sessionId, ts, channel FROM adhoc.heeryeong_session_summary
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

ü™Ñ GROUP BYÌÜµÌï¥ COUNT Ìï¥ÏÑú Ï§ëÎ≥µ ÏïåÏïÑÎÇºÏàòÎèÑÏûàÏùå

In [ ]:
%%sql

With ds AS (
  SELECT DISTINCT userId, sessionId, ts, channel FROM adhoc.heeryeong_session_summary
)
SELECT COUNT(1)
FROM ds;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Ïùò Ï°¥Ïû¨ Ïó¨Î∂Ä Ï≤¥ÌÅ¨ÌïòÍ∏∞ (freshness)

In [ ]:
%%sql

SELECT MIN(ts), MAX(ts)
FROM adhoc.heeryeong_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(datetime.datetime(2019, 5, 1, 0, 13, 11, 783000), datetime.datetime(2019, 11, 30, 23, 58, 23))]

Primary key uniquenessÍ∞Ä ÏßÄÏºúÏßÄÎäîÏßÄ Ï≤¥ÌÅ¨ÌïòÍ∏∞

ü™Ñ 1Î≥¥Îã§ ÌÅ∞Í≤ÉÏù¥ ÏûàÎäîÏßÄ Î≥¥Î©¥Îê®.. orderby Î°ú Í∞ÄÏû•ÌÅ∞Í∞í Ï∞æÏïÑ

In [ ]:
%%sql

SELECT sessionId, COUNT(1)
FROM adhoc.heeryeong_session_summary
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[('0002ac0d783338cfeab0b2bdbd872cda', 1)]

Í∞íÏù¥ ÎπÑÏñ¥ÏûàÎäî Ïª¨ÎüºÎì§Ïù¥ ÏûàÎäîÏßÄ Ï≤¥ÌÅ¨ÌïòÍ∏∞

In [ ]:
%%sql

SELECT
    COUNT(CASE WHEN sessionId is NULL THEN 1 END) sessionid_null_count,
    COUNT(CASE WHEN userId is NULL THEN 1 END) userid_null_count,
    COUNT(CASE WHEN ts is NULL THEN 1 END) ts_null_count,
    COUNT(CASE WHEN channel is NULL THEN 1 END) channel_null_count
FROM adhoc.heeryeong_session_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0, 0, 0, 0)]

‚ú® ÏàôÏ†ú
Ï±ÑÎÑêÎ≥Ñ ÏõîÎ≥Ñ Îß§Ï∂úÏï° ÌÖåÏù¥Î∏î ÎßåÎì§Í∏∞ (adhoc Î∞ëÏóê CTAS Î°ú Î≥∏Ïù∏Ïù¥Î¶Ñ Ìè¨Ìï®Ìï® ÌÖåÏù¥Î∏îÎ°ú ÎßåÎì§Í∏∞ )
- session_timpestamp, user_session_channel, session_transaction
- ÏïÑÎûòÏôÄ Í∞ôÏùÄ ÌïÑÎìúÎ°ú Íµ¨ÏÑ±
  - month
  - channel
  - uniqueUsers(Ï¥ù Î∞©Î¨∏ ÏÇ¨Ïö©Ïûê)
  - painUsers (Íµ¨Îß§ÏÇ¨Ïö©Ïûê: refundÌïú Í≤ΩÏö∞ÎèÑ ÌåêÎß§Î°ú Í≥†Î†§)
  - conversionRate (Íµ¨Îß§ÏÇ¨Ïö©Ïûê / Ï¥ù Î∞©Î¨∏ÏÇ¨Ïö©Ïûê)
  - grossRevenue (refund Ìè¨Ìï®) -sum
  - netRevenue (refund Ï†úÏô∏)

In [6]:
%%sql

DROP TABLE IF EXISTS adhoc.heeryeong_session_hw;
CREATE TABLE adhoc.heeryeong_session_hw AS
SELECT B.*, A.ts ,C.refunded, C.amount
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
JOIN raw_data.session_transaction C ON A.sessionid=C.sessionid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

üìå ÌÖåÏù¥Î∏î Ïª¨Îüº userid, sessionid, channel, ts, refunded, amount

In [ ]:
%%sql

SELECT TO_CHAR(ts,'YYYY-MM') as month,
channel , COUNT(DISTINCT userid) as uniqueUsers,
COUNT(CASE WHEN refunded='true' or refunded='false' THEN userid END) as painUsers,
COUNT(CASE WHEN refunded='true' THEN userid  END)::float/COUNT(DISTINCT userid) as conversionRate,
SUM(amount) as grossRevenue,
SUM(CASE WHEN refunded='true' THEN 0 ELSE amount END) as netRevenue
FROM adhoc.heeryeong_session_hw
GROUP BY 1,2
ORDER BY 1,2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 14, 14, 0.214285714285714, 1199, 997),
 ('2019-05', 'Google', 10, 10, 0.0, 580, 580),
 ('2019-05', 'Instagram', 11, 11, 0.181818181818182, 959, 770),
 ('2019-05', 'Naver', 11, 11, 0.0909090909090909, 867, 844),
 ('2019-05', 'Organic', 17, 18, 0.117647058823529, 1846, 1571),
 ('2019-05', 'Youtube', 10, 10, 0.0, 529, 529),
 ('2019-06', 'Facebook', 22, 22, 0.0, 1578, 1578),
 ('2019-06', 'Google', 13, 13, 0.0, 947, 947),
 ('2019-06', 'Instagram', 21, 21, 0.0476190476190476, 1462, 1418),
 ('2019-06', 'Naver', 15, 16, 0.0, 1090, 1090),
 ('2019-06', 'Organic', 14, 14, 0.142857142857143, 1129, 940),
 ('2019-06', 'Youtube', 17, 17, 0.0, 1042, 1042),
 ('2019-07', 'Facebook', 32, 32, 0.03125, 2222, 2144),
 ('2019-07', 'Google', 21, 21, 0.0952380952380952, 1558, 1385),
 ('2019-07', 'Instagram', 25, 25, 0.04, 1896, 1766),
 ('2019-07', 'Naver', 19, 19, 0.0, 1547, 1547),
 ('2019-07', 'Organic', 24, 24, 0.0, 1600, 1600),
 ('2019-07', 'Youtube', 36, 36, 0.0555555555555556, 2210, 2037),
 ('2019-08', 'Facebook', 18, 19, 0.0, 1009, 1009),
 ('2019-08', 'Google', 28, 29, 0.178571428571429, 2210, 1894),
 ('2019-08', 'Instagram', 28, 29, 0.0714285714285714, 2129, 2001),
 ('2019-08', 'Naver', 22, 22, 0.136363636363636, 1829, 1551),
 ('2019-08', 'Organic', 26, 27, 0.0384615384615385, 1643, 1606),
 ('2019-08', 'Youtube', 18, 18, 0.111111111111111, 987, 950),
 ('2019-09', 'Facebook', 27, 29, 0.0, 2270, 2270),
 ('2019-09', 'Google', 25, 25, 0.08, 1872, 1691),
 ('2019-09', 'Instagram', 20, 20, 0.1, 1260, 1122),
 ('2019-09', 'Naver', 21, 21, 0.0, 1996, 1996),
 ('2019-09', 'Organic', 23, 23, 0.0, 1267, 1267),
 ('2019-09', 'Youtube', 15, 16, 0.0, 1301, 1301),
 ('2019-10', 'Facebook', 29, 29, 0.0344827586206897, 1650, 1641),
 ('2019-10', 'Google', 30, 31, 0.0333333333333333, 2150, 2098),
 ('2019-10', 'Instagram', 34, 36, 0.0882352941176471, 2568, 2395),
 ('2019-10', 'Naver', 32, 33, 0.0, 2695, 2695),
 ('2019-10', 'Organic', 31, 33, 0.0967741935483871, 2762, 2608),
 ('2019-10', 'Youtube', 34, 36, 0.0882352941176471, 2492, 2319),
 ('2019-11', 'Facebook', 26, 26, 0.0, 1678, 1678),
 ('2019-11', 'Google', 26, 26, 0.0384615384615385, 2286, 2235),
 ('2019-11', 'Instagram', 25, 26, 0.0, 2116, 2116),
 ('2019-11', 'Naver', 26, 26, 0.115384615384615, 2234, 1987),
 ('2019-11', 'Organic', 34, 34, 0.0882352941176471, 2626, 2255),
 ('2019-11', 'Youtube', 46, 48, 0.0434782608695652, 3532, 3331)]

In [23]:
%%sql

SELECT
LEFT(ts, 7)"month",
usc.channel,
-- Ï¥ùÎ∞©Î¨∏ ÏÇ¨Ïö©Ïûê--
COUNT(DISTINCT userid)uniqueUsers,
-- Íµ¨Îß§ÏÇ¨Ïö©Ïûê--
COUNT(DISTINCT CASE WHEN amount>0 THEN usc.userid END) paidUsers,
-- Íµ¨Îß§ÏÇ¨Ïö©Ïûê / Ï¥ùÎ∞©Î¨∏ ÏÇ¨Ïö©Ïûê--
ROUND(paidUsers * 100.0 / NULLIF(uniqueUsers , 0),2) conversionRate,
-- refund Ìè¨Ìï® Ï¥ùÍµ¨Îß§Ïï°--
SUM(amount) grossRevenue,
-- refund Ï†úÏô∏ Íµ¨Îß§Ïï°--
SUM(CASE WHEN refunded is False THEN amount END) netRevenue
FROM raw_data.user_session_channel usc
JOIN raw_data.session_timestamp t
ON t.sessionid=usc.sessionid
LEFT JOIN raw_data.session_transaction st
On usc.sessionid= st.sessionid
GROUP BY 1, 2
ORDER BY 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-05', 'Organic', 238, 17, Decimal('7.14'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.23'), 1896, 1766),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Google', 610, 27, Decimal('4.43'), 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-08', 'Organic', 608, 26, Decimal('4.28'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-09', 'Organic', 592, 22, Decimal('3.72'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Google', 699, 30, Decimal('4.29'), 2150, 2098),
 ('2019-10', 'Instagram', 707, 33, Decimal('4.67'), 2568, 2395),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-10', 'Organic', 709, 31, Decimal('4.37'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, Decimal('4.82'), 2492, 2319),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.63'), 1678, 1678),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 45, Decimal('6.65'), 3532, 3331)]