## CSV 파일
- comma-sperated value(variables)
- 컴마(,)로 값을 구분해놓는 방식

스펜서, 20, 컴퓨터공학과,
숙풴서, 30, 데이터분석학과,

# 실습 레퍼런스
- 그 캐글(Kaggle)이다. 들어봤을 수도 있고, 안들어봤을 수도 있다.
- https://www.kaggle.com/datasets/tarundalal/100-richest-people-in-world
- 사이트의 Notebook 누르면 바로 Python으로 실습도 가능하다.
- Download눌러 필요한 파일 다운로드 - TopRichestInWorld.csv
- 작업하고 있는 04-File-csv.ipynb와 같은 폴더(디렉토리)에 둔다. Jupyter에서 우측 상단 Upload클릭

# File .csv

In [2]:
import pandas as pd

## .read_csv()

In [4]:
# csv 전체 가져오기 -> DataFrame T누르고 tab
richest_dataset=pd.read_csv('TopRichestInWorld.csv')
richest_dataset

,Name,NetWorth,Age,Country/Territory,Source,Industry
0,Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",Automotive
1,Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
2,Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
3,Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
4,Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
96,Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
97,Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
98,Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
99,Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
100,Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [5]:
type(richest_dataset)

pandas.core.frame.DataFrame

In [6]:
# csv에서 특정 열만 가져오기 -> DataFrame
richest_dataset['Source']

0           Tesla, SpaceX
1                  Amazon
2                    LVMH
3               Microsoft
4      Berkshire Hathaway
              ...
96                 metals
97              oil & gas
98        pharmaceuticals
99              chemicals
100           real estate
Name: Source, Length: 101, dtype: object

In [10]:
# csv에서 특정 열만 Series로 가져오기 -> .squeeze() -> Series
# read 하려는 열의 series 만 가져오기 
# squeeze 시리즈화 하는 메서드
# squeeze 가 없을시 데이터 프레임형태로 가져옴
richest_series=pd.read_csv('TopRichestInWorld.csv', usecols=['Name']).squeeze()
richest_series

0                     Elon Musk
1                    Jeff Bezos
2      Bernard Arnault & family
3                    Bill Gates
4                Warren Buffett
                 ...
96             Vladimir Potanin
97         Harold Hamm & family
98                 Sun Piaoyang
99           Luo Liguo & family
100                   Peter Woo
Name: Name, Length: 101, dtype: object

In [11]:

type(richest_series)

pandas.core.series.Series

In [12]:
# csv에서 특정 열만 가져오기
richest_df=pd.read_csv('TopRichestInWorld.csv', usecols=['Name'])
richest_df

                         Name
0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
..                        ...
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
99         Luo Liguo & family
100                 Peter Woo

[101 rows x 1 columns]

In [13]:
type(richest_df)

pandas.core.frame.DataFrame

.squeeze()는 DataFrame이 단일 열을 가지고 있는 경우, 시리즈(Series) 객체로 변환해주는 메소드(함수)입니다.  
일반적으로 데이터프레임은 여러 개의 열을 가지고 있지만, 때로는 단일 열만 필요한 경우가 있습니다.

## .to_csv()
csv 파일 저장

In [14]:
richest_series.to_csv('TopRichestInWorld_New.csv')

In [15]:
# index는 제외하고 저장
richest_series.to_csv('TopRichestInWorld_New.csv', index=False)

## [주의]단일 열이여도 일단 DataFrame
- 현재 실습을 통해 `TopRichestInWord_New.csv`에는 이름만 들어있다.
- 분명 Series를 csv로 저장했다.
- 그러나 csv로 데이터를 읽으면 무조건 DataFrame이다.

In [16]:
richest_data= pd.read_csv('TopRichestInWorld_New.csv')
type(richest_data)

pandas.core.frame.DataFrame

In [17]:
richest_data

                         Name
0                   Elon Musk
1                  Jeff Bezos
2    Bernard Arnault & family
3                  Bill Gates
4              Warren Buffett
..                        ...
96           Vladimir Potanin
97       Harold Hamm & family
98               Sun Piaoyang
99         Luo Liguo & family
100                 Peter Woo

[101 rows x 1 columns]